.tasks {
  margin: 50px auto;
  width: 500px;
}
.tasks input {
  border: 1px solid gray;
  margin-right: 5px;
  padding: 10px;
}
.tasks input[type="submit"] {
  display: none;
}
.task p {
  text-align: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 5px 10px;
}
.content .text {
  font-size: 25px;
}
.icon.check {
  margin-right: 10px;
  background-color: green;
}
.task {
  background-color: #ddd;
  border-radius: 10px;
}
.task.done {
  background-color: green;
  color: white;
  border-radius: 10px;
}
.icon.done {
  display: none;
}
.delete {
  background-color: red;
  margin-right: 5px;
}
fa-icon {
  color: white;
  padding: 5px;
  border-radius: 20px;
}
